@import "../../variables.scss";

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    font-family: 'OpenSansCondensed-Bold' ,sans-serif;
    font-style: normal;
    font-weight: 700;    
}
.menu-burger {
    position: relative;
    display: none;
    z-index: 10;
    transform: translateX(0);
    transition: .3s all;
}
.menu-burger__btn {
    position: absolute;
    background: transparent;
    background-image: url('../../assets/icons/menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 30px;
    border: none;
    outline: none;
    z-index: 11;
    transition: .3s all;
}
.menu-burger__nav {
    background: $color-third;
    position: absolute;
    top: -40px;
    left: -30px;
    right: 0;
    transform: translateX(0px);
    z-index: 10;
    transition: 0.3s all;
    min-width: 380px;
    padding: 140px 30px 40px;
}
.menu-burger_none {
    transform: translateX(-400px);
    transition: .3s all;
}
.menu-burger__list {
    position: relative;
}
.menu-burger__list-item {
    margin-bottom: 15px;
}
.menu-burger_btn_active {
    background-image: url('../../assets/icons/menu-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s all; 
    transform: translateX(290px);   
}
.menu__list {
    display: flex;
}
.menu__list,
.menu-burger__list {
    list-style: none;
}
.menu__list-link {
    font-size: 1.28rem;
    line-height: 1.78rem; 
    letter-spacing: 0.1rem;
}
.menu-burger__list-link {
    font-size: 1.71rem;
    line-height: 2.35rem;
}
.menu__list-link,
.menu-burger__list-link {
    padding: 10px;
    text-transform: uppercase;
}
.header__phone {
    position: relative;
    font-size: 1.14rem;
    line-height: 1.57rem;
    text-align: right;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    border-bottom: 2px solid $color-secondary;
}
.menu__list-item:not(:first-child) {
    margin-left: 15px;
}
.menu__list-link_active a,
.menu__list-item a:hover,
.menu-burger__list-item a:hover {
    color: $color-secondary;
}
@media(max-width: 1375px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header__phone {
        padding-top: 10px;
    }
    .menu__list-item {
        margin-bottom: 30px;
    }
}
@media(max-width: 1180px){
    .menu__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__list-item:first-child {
        margin-left: 15px;
    }
}
@media(max-width: 768px) {
    .menu__list {
        display: none;
    }
    .menu-burger {
        display: block;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: flex-start;
    }
}