<app-header></app-header>

<section class="container section__first-screen">       
    <div class="social">
        <h5 class="social__title">Контактная информация</h5>
        <ul class="social__list">
            <li class="social__item">
                <a class="social__link social__link-inst" href="#"></a>
            </li>
            <li class="social__item">
                <a class="social__link social__link-vk" href="#"></a>
            </li>
            <li class="social__item">
                <a class="social__link social__link-face" href="#"></a>
            </li>
            <li class="social__item">
                <a class="social__link social__link-yout" href="#"></a>
            </li>
        </ul>
    </div>
    <div class="poster">
        <div class="poster__info">
            <h1 class="poster__info-title">Большой театр</h1>
            <p class="poster__info-text">
                Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, 
                с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, 
                крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.
            </p>
            <button class="poster__info-btn">Афиша</button>
        </div>
        <div class="poster__slider">

        </div>
    </div>

</section>

<section class="section section__second-screen">
    <h4 class="section__title"><span>О</span> театре</h4>
    <div class="section__wrapper about">
        <div class="about__info">
            <div class="about__title">Самый лучший театр СПБ</div>
            <p class="about__text">
                Как свидетельствуют архивные документы, первое каменное здание Большого 
                театра начали возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, 
                после того как Ринальди упал с лесов и не мог лично наблюдать за ходом работ, 
                Екатерина II поручила немецкому театральному декоратору и архитектору Людвигу 
                Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами 
                Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году, хотя, 
                основываясь на других свидетельствах, годом открытия можно считать 1784 год.
            </p>
        </div>
        <div class="about__descr">
            <div class="about__title">Немного о цифрах</div>
            <div class="about__statistics">
                <div class="about__statistics-item about__statistics-place"><span>1600</span> посадочный мест</div>
                <div class="about__statistics-item about__statistics-history"><span>350</span> лет истории</div>
            </div>
        </div>
        <div class="about__img"></div>
    </div>
</section>

<section class="section section__third-screen">
    <h4 class="section__title"><span>наши</span> постановки</h4>
    <div class="section__wrapper staging">
        <div class="staging__slider">

        </div>
    </div>
</section>

<section class="section section__fourth-screen">
    <div class="section__wrapper rating">
        <div class="rating__years">
            <span class="rating__years-item">2018</span>
            <span class="rating__years-item">2019</span>
            <span class="rating__years-item">2020</span>
        </div>
        <div class="rating__descr">
            <div class="rating__stars">
                <div class="rating__stars-item" *ngFor="let i of [1,2,3,4,5]" [ngClass]="i > 3 ? '' : 'rating__stars-item_active'"></div>
            </div>
            <div class="rating__info">
                Лучший театр по мнению театральных критиков Парижа
            </div>
        </div>
    </div>
</section>